<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{{{title}}}</title>
</head>
<body>

    <header class="container mt-4">
        <div class="text-center">
            <h1>Icon</h1>
            <img src="/images/basket.png" class="img-fluid mt-3" style="width: 100px; height: auto;">
        </div>
    </header>

    {{{cart}}}

    {{{body}}}

    <section id="why-shop-with-us" class="container mt-5">
        <h2 class="text-center mb-4">Footer</h2>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">Primer Item</li>
                    <li class="list-group-item">Segundo Item</li>
                    <li class="list-group-item">Tercer Item</li>
                </ul>
            </div>
        </div>  
    </section>

    <footer class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">About Us</a></li>
                    <li class="list-inline-item"><a href="#">Contact Us</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>